<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">

                <div *ngFor="let i of passengers.data" class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.airline.logo}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name: {{i.name}}</h5>
                          <p class="card-text">{{i.airline.slogan}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Trips : {{i.trips}}</li>
                          <li class="list-group-item">{{i.airline.name}}</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>

                </div>
            </div>

        </div>
    </div>
</div>