<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <table class="table table-dark table-striped">
                            <thead>
                              <tr>
                                <th scope="col">ID Nation</th>
                                <th scope="col">Nation</th>
                                <th scope="col">ID Year</th>
                                <th scope="col">Year</th>
                                <th scope="col">Population</th>
                                <th scope="col">Slug Nation</th>                        
                              </tr>
                            </thead>
                            <tbody *ngFor="let i of data.data" >
                              <tr>
                                <td>{{i.IDNation}}</td>
                                <td>{{i.Nation}}</td>
                                <td>{{i.IDYear}}</td>
                                <td>{{i.Year}}</td>
                                <td>{{i.Population}}</td>
                                <td>{{i.SlugNation}}</td>
                              </tr>
                            </tbody>
                       
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


