<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <table class="table table-dark table-striped">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Quotes</th>
                                <th scope="col">Author</th>

                              </tr>
                            </thead>
                            <tbody *ngFor="let i of data.quotes" >
                              <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.quote}}</td>
                                <td>{{i.author}}</td>
                              </tr>
                            </tbody>
                       
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


